services:
  backend:
    container_name: kr-backend
    image: ghcr.io/rkorom/sampleapis:latest
    restart: "always"
    ports:
      - "3000:3000" # vizsga
      - "8000:8000"
      - "8001:8001" # pizza
      - "8002:8002" # autoker
      - "8003:8003" # secleak-backend
      - "8004:8004" # secleak-frontend
      - "8005:8005"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
  watchtower:
    container_name: kr-watchtower
    image: containrrr/watchtower:latest
    restart: "always"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_POLL_INTERVAL: "300"
    command: --label-enable
